@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin-ext');

@keyframes heartbeat {
    0%   {font-size: 78px;}
    50%  {font-size: 64px;}
    100% {font-size: 78px;}
}

hr {
  border-top: solid 1px #aaa !important;
}

.white-text {
  color: #fff;
}

.heartbeat-master {
    text-align: center;
}

.heartbeat {
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

body {
  font-family: 'Roboto', sans-serif;
}

.description .card-header h5 {
    margin: 0px;
}

.description .card-body p {
    margin: 10px auto;
}

.master-panel {
  background: #37474f;
  padding: 15px 0px;
}

.weather-content {
  margin-top: -45px;
}

.weather-card {
  align-items: center;
  color: #fff;
}

.weather-icon {
  font-size: 104px;
}

.act {
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.act:hover {
  color: #007bff;
}

.act.sel {
  color: #0069DA;
}

#places.collapse {
  display: none !important;
}

#places {
  display: flex;
}

.panels {
  margin-top: 15px;
  margin-bottom: 45px;
}

.panel {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
}

.chart-area {
  margin-top: 50px;
  width: 100%;
  height: 150px;
  border-radius: 4px;
}

.overlay {
  width: 100%;
  height: 200px;
  padding: 20px;
  position: relative;
  margin-top: -200px;
  border-radius: 4px;
  color: #fff;
}

.overlay h2 {
  margin: 0px;
  font-weight: 300;
}

.overlay .fas {
  font-size: 78px;
}

.green {
    background: rgb(139, 195, 74);
    color: #fff;
}

.blue {
    background: #2196f3;
    color: #fff;
}

.red {
    background: #f44336;
    color: #fff;
}

.orange {
  background: #f57c00;
}

.light-grey {
  background: #eee;
}

.data-m {
  margin-top: 10px;
  align-items: center;
  display: flex;
  height: 115px;
}

.data-m .fas {
  margin-left: 15px;
}

.data-m h1 {
  font-size: 44px;
  font-weight: 300;
}

.master-detail {
    margin-top: 30px;
    margin-bottom: 15px;
}

.timeline-master {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 30px;
  border-radius: 15px;
  padding: 0px 10px;
  background: #ef6c00;
  color: #fff;
}

.timeline {
    width: 1px;
    min-height: 30px;
    background: #aaa;
}

.connector {
    z-index: 10;
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    background: #fff;
}

.connector.lower {
    margin-top: -7px;
}

.frame {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    margin-top: -7px;
    border: 1px solid #aaa;
    width: calc(100% - 40px);
    height: auto;
    border-radius: 4px;
    padding: 10px;
    transition: background 150ms ease-in-out;
}

.frame:hover {
  background: #eee;
}

.ehr-enter {
  margin-right: 10px;
}

.card-image {
  width: 100%;
  height: auto;
}

.figure {
  margin-bottom: 0px !important;
}